engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
shamefully-hoist=true
lockfile=true
strict-peer-dependencies=false
production=false
loglevel=verbose
